  <aside class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action">
              <h2>Solve your most difficult challenges.</h2>
              <a href="mailto:{{ site.email }}" class="btn btn-default btn-xl wow tada">Schedule a call</a>
          </div>
      </div>
  </aside>
