<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">The product management that you need</h2>
                <hr class="light">
                <p class="text-faded">Precise and Concise provides product management services for cloud applications.
                    We can guide your cross-department stakeholders through software selection, design, development,
                    training, release and support.
                    We will help you achieve your strategic vision by creating user stories from client feedback
                    and organizing them around core themes into a product roadmap</p>
                <a href="mailto:{{ site.email }}" class="btn btn-default btn-xl">Contact Now</a>
            </div>
        </div>
    </div>
</section>
