<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Precise and Concise</h1>
            <hr>
            <p>Product management consulting for the cloud.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
