<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-user-circle-o wow bounceIn text-primary"></i>
                    <h3>User Stories</h3>
                    <p class="text-muted">Turn your requirements into user stories.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Product Launch</h3>
                    <p class="text-muted">Plan and execute on smooth product releases.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-map wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Strategic Roadmaps</h3>
                    <p class="text-muted">Achieve your product goals by delivering what your users need the most.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-calendar wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Sprint Planning</h3>
                    <p class="text-muted">Set your developers up to succeed.</p>
                </div>
            </div>
        </div>
    </div>
</section>
